import(RCurl)
import(IRanges)
import(GenomicRanges)
import(Rsamtools)
import(GenomicAlignments)
import(Biostrings)
import(GenomicFeatures)
import(VariantAnnotation)
import(RSQLite)


importFrom(rtracklayer,browserSession, ucscTableQuery,
           tableNames, getTable, trackNames, ucscSchema)
importFrom(biomaRt, getBM, listAttributes, listDatasets, listMarts,
           useDataset, useMart)
		   
#importFrom(IRanges, DataFrame,  unlist,countOverlaps, 
#    findOverlaps, queryHits, values)		   

importFrom(GenomicFeatures, cdsBy, exons, transcripts,
    fiveUTRsByTranscript, threeUTRsByTranscript)

importFrom(VariantAnnotation, scanVcf, scanVcfHeader, samples)		   

importFrom(AnnotationDbi, loadDb)
importFrom(stringr, 'str_sub<-' )
importFrom(plyr, ddply, '.')

#importFrom(Biostrings,AAStringSet, DNAStringSet, reverseComplement,translate,
#	readBStringSet,readDNAStringSet)

	
export(PrepareAnnotationEnsembl,PrepareAnnotationRefseq,
    easyRun,easyRun_mul,
	calculateRPKM,Outputproseq,
	InputVcf, Varlocation, Positionincoding, aaVariation, 
    OutputVarproseq, OutputVarproseq_single,
    Outputaberrant, 
    Bed2Range,JunctionType, OutputNovelJun,
 	OutputsharedPro, Multiple_VCF, SharedJunc
	)

